@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --text: #d9d9f2;
    --background: #0c0c22;
    --primary: #842e2e;
    --secondary: #0f0f2a;
    --accent: #46be46;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}

.clear{clear: both;}
.menu-mobile{display:none;}


/* ========== HEADER ========== */

header{
    width: 100%;
    padding: 5px 15px;
    background-color: var(--secondary);
}


header .container
{
    width: 100%;
    height: 60px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* ========== HEADER LOGO ========== */

header .logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header .logo img
{
    width: 100px;
    height: 60px;
    padding-left: 10px;
    object-fit: contain;
}

header .logo a
{
    text-decoration: none;
}

header .logo h1
{
    width: 124px;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    font-family: 'Bad Script', cursive;
    font-weight: 600;
}


/* ========== HEADER LINKS ========== */

header .menu_desktop
{
    width: 420px;
    height: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .links
{
    width: 420px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .links ul
{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header .links ul li a
{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: var(--text);
    position: relative;
    padding: 0 10px;
}

header .links ul li a:after
{
    content: "";
    position: absolute;
    background-color: var(--accent);
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -30px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

header .links ul li a:hover:after
{
    transform-origin: left;
    transform: scaleX(1);
}


/* ========== HEADER BUTTONS ========== */

header .buttons
{
    width: 190px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .buttons i
{
    margin-left: 5px;
    font-size: 20px;
    color: var(--text);
}

.buttons .user-icon
{
    padding: 0 5px 2px 0;
    align-items: center;
}

.buttons p.tool-tip-box
{
    display: inline-block;
    position: relative;
}

.tool-tip
{
    width: 30px;
    position: absolute;
    right: 25px;
    transition: 1s;
    opacity: 0;
    color: var(--text);
}

p.tool-tip-box:hover .tool-tip
{
    opacity: 1;
}



.btn-login i{padding:0 5px;}

header .btn-login
{
    width: 85px;
    height: 30px;
    padding-right: 7px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid var(--text);
    border-radius: 10px;
    text-decoration: none;
    color: var(--text);
    transition: .4s;
}

.btn-login:hover{background-color: #3c3c59;}


/* ========== SECTION CONTATO ========== */

section.contact
{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.line-titulo
{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
}

.line-titulo h2
{
    font-size: 30px;
    color: var(--text);
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    padding: 0 20px;
    background-color: var(--background);
}

.ln1
{
    width: 97%;
    height: 2px;
    background-color: var(--accent);
    position: absolute;
}

section.contact form {
	width: 600px;
	margin: 15px auto;
}

section.contact .input-wraper {
	float: left;
	padding: 10px;
	margin-top: 7px;
}

section.contact input[type=text] {
	width: 100%;
	height: 50px;
	font-size: 15px;
	padding-left: 15px;
    /* background-color: var(--secondary);
    color: var(--text); */
	border: 1px solid var(--text);
    border-radius: 5px;
}

section.contact input[type=email] {
	width: 100%;
	height: 50px;
	font-size: 15px;
	padding-left: 15px;
    /* background-color: var(--secondary);
    color: var(--text); */
	border: 1px solid var(--text);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

section.contact input[type=number] {
	width: 100%;
	height: 50px;
	font-size: 15px;
	padding-left: 15px;
    /* background-color: var(--secondary);
    color: var(--text); */
	border: 1px solid var(--text);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.w100{width:100%;}
.w50{width:50%;} 
section.contact input[type=number]::-webkit-inner-spin-button{display:none;}


section.contact input[type=submit] {
	display: inline-block;
    width: 150px;
    padding: 20px 0;
    background-color: var(--accent);
    color: var(--text);
    font-weight: 500;
	border: none;
    border-radius: 15px;
	cursor: pointer;
}

section.contact input[type=submit]:hover
{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section.contact form .input-wraper:nth-of-type(5) {
	text-align: center;
}

section.contact textarea {
	width: 100%;
	height: 120px;
	font-size: 16px;
	padding: 8px;
	resize: none;
    /* background-color: var(--secondary);
    color: var(--text); */
	border: 1px solid var(--text);
    border-radius: 5px;
}






/* ========== FOOTER ========== */

footer
{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    background-color: var(--secondary);
}

footer .container
{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .content img{width:60px;}

footer .content p
{
    font-size: 1.1em;
    color: var(--text);
}

footer .content b
{
    font-family: 'Bad Script', cursive;
    font-weight: 600;
}

footer .tel
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text);
    font-size: 13px;
}


footer .social-media
{
    display: flex;
    align-items: center;
}

footer .social-media ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-media ul li a
{
    padding: 0 15px;
    color: var(--text);
    font-size: 1.5em;
}



/* ========== DESIGN RESPONSIVO ========== */

